<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>

<header th:replace="fragments/header"></header>

<div class="container">
    <div class="text-center mt-5">
        <form th:method="GET" th:action="@{/footballers/add-footballer}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">Add Footballer</button>
        </form>

        <form th:method="GET" th:action="@{/footballers/view-footballers}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">View Footballers</button>
        </form>

        <form th:method="GET" th:action="@{/footballers/delete-footballer}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">Delete Footballer</button>
        </form>

        <form th:method="GET" th:action="@{/legends/add-legend}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">Add Legend</button>
        </form>

        <form th:method="GET" th:action="@{/legends/view-legends}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">View Legends</button>
        </form>

        <form th:method="GET" th:action="@{/legends/delete-legend}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">Delete Legend</button>
        </form>

        <form th:method="GET" th:action="@{/managers/add-manager}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">Add Manager</button>
        </form>

        <form th:method="GET" th:action="@{/managers/view-managers}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">View Managers</button>
        </form>

        <form th:method="GET" th:action="@{/managers/delete-manager}">
            <button class="btn btn-primary btn-block w-50" style="margin-bottom: 14px">Delete Manager</button>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>